<h1><%= @employee.name %>'s Show Page</h1>
<h3><strong>Department: </strong><%= @employee.department_name %></h3>

<p><strong>Employee's Assigned Tickets: </strong></p>
<% @employee.assigned_tickets.each do |ticket| %>
  <p><strong>Subject: </strong><%= ticket.subject %></p>
  <p><strong>Age: </strong><%= ticket.age %></p>
  ------------------------------------
<% end %>

<p><strong>Employee's Oldest Ticket: </strong><br>
<strong>Subject: </strong><%= @employee.oldest_ticket.subject %><br>
<strong>Age: </strong><%= @employee.oldest_ticket.age %></p>

<p><strong>Assign a ticket using ticket id: </strong></p>
<%= form_with url: "/employee_tickets", method: :post, local: true do |form| %>
  <%= form.label :ticket_id %>
  <%= form.text_field :ticket_id %><br><br>
  <%= hidden_field_tag :employee_id, @employee.id %>
  <%= form.submit "Assign Ticket" %>
<% end %>



